<div class="multiple">
<span>Single Choice:</span>
<div class="field">
  <%= ff.label :text %>
  <%= ff.text_area :text %>
</div>
<p><%= :question.inspect %><p>

 <%= ff.fields_for :options do |fff| %>
  <p><%= fff.object.inspect %>
    <div class="field">
      <%= fff.label :name %>
      <%= fff.text_area :name %>
    </div>
  <%end%>

</div>
