<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <h3>Update/Create Questions</h3>
  <%= f.fields_for :questions do |ff| %>
    <%= ff.label :question_type, "Question Type" %><br>
    <%= ff.select :question_type, options_for_select(["Multiple Choice", "Long Answer", "Short Answer", "Yes or No"]), {:include_blank=> true}, {:class=>'question-type'} %>
    <div class="question-choice">
    </div>
    <div class="actions">
      <%= button_tag "done", class: "btn" %>
    </div>
    <%= render 'form_for_questions', :ff => ff %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
