<%= form_for(@response) do |f| %>

  <div class="field">
    <%= f.label :response %>
    <%= f.text_field :name %>
    <%= f.hidden_field :question_id, :value=> question_id %>
  </div>

  <div class="actions">
    <%= button_tag "done", class: "btn" %>
  </div>
<% end %>
