<h2>Long answer:</h2>

<%= form_for(@response) do |f| %>


  <div class="field"><br>
    <%= f.label :response %><br>
    <%= f.text_area :name %>
    <%= f.hidden_field :question_id, :value=> question_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
