<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>


  <h3>Update/Create Questions</h3>

  <%= f.fields_for :questions do |ff| %>
    <%= ff.label :question_type, "Question Type" %><br>
    <%= ff.collection_select(:question_type, QuestionType.all, :id, :name)%>
    <p>
      <%= render 'form_for_questions', :ff => ff %>
    </p>
    <div class="actions">
      <%= button_tag "done", class: "btn" %>
    </div>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
