<%= form_for(@response) do |f| %>

  <div class="field"><br>
    <%= if @response.
    <%= f.label :response %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :question_id, :value=> question_id %>
  </div>

  <div class="actions">
    <%= button_tag "save question", class: "btn" %>
  </div>
<% end %>
