<h2>Single choice:</h2>

<%= form_for(@response) do |f| %>


  <div class="field"><br>
    <%= f.label :response %><br>
    <%= radio_button :name, :category, :rails %>
    <%= f.hidden_field :question_id, :value=> question_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- <%= form_tag update_achievements_student_path do %>
  <ul>
    <% @achievements.each do |a| %>
      <li>
        <%= check_box_tag "achievements[#{a.id}]", true, @student.achievements.include?(a) %>
        <%= a.name %>
      </li>
    <% end %>
  </ul> -->
