<label id="notice"><%= notice %></label>

<label>
  <strong>Title:</strong>
  <%= @survey.title %>
</label>

<label>
  <strong>Description:</strong>
  <%= @survey.description %>
</label>

<label>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</label>


<% @survey.questions.each do |q| %>
<% if q.question_type_id == 3 %>
  <%= form_for(q) do |qq| %>
    <div class="field">
       <%= qq.label :text %><br/>
       <%= qq.label :description, "Yes", :value => "true"  %>
       <%= qq.radio_button :description, true %>
       <%= qq.label :description, "No", :value => "false" %>
       <%= qq.radio_button :description, false, :checked => true %>
   </div>
   <div class="actions">
     <%= qq.submit class: "btn" %>
  <%end%>
<%end%>
<% if q.question_type_id == 2 %>
<p> this is short answer</p>

<%end%>
<% if q.question_type_id == 4 %>
<p> this is yes no</p>

<%end%>
<% if q.question_type_id == 1 %>
<p> this is long answer</p>

<%end%>

<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', authors_path %>
