<label id="notice"><%= notice %></label>

<label>
  <strong>Title:</strong>
  <%= @survey.title %>
</label>

<label>
  <strong>Description:</strong>
  <%= @survey.description %>
</label>

<label>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</label>

<% @survey.questions.each do |q| %>
  <%= q.text %> <br>
  <%= q.description %> <br>
  <%= render 'form_for_response', question_id: q.id %>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
