<label id="notice"><%= notice %></label>

<label>
  <strong>Title:</strong>
  <%= @survey.title %>
</label>

<label>
  <strong>Description:</strong>
  <%= @survey.description %>
</label>

<label>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</label>


<% @survey.questions.each do |q| %>
  <% if q.question_type_id == 3 %>
    <%= form_for(@response) do |r| %>
      <div class="field">
        <%= q.text %><br/>
          <% q.options.each do |o|%>
            <%= r.label :name, "#{o.name}", :value => "#{o.name}"  %>
            <%= r.radio_button :name, "#{o.name}" %>
          <%end%>
        <%= r.hidden_field :question_id, :value=> q.id%>
      </div>
      <div class="actions">
        <%= r.submit class: "btn" %>
      </div>
    <%end%>
  <%end%>
  <% if q.question_type_id == 2 %>
    <%= form_for(@response) do |r| %>

      <div class="field">
        <%= r.label :response %>
        <%= r.text_field :name %>
        <%= r.hidden_field :question_id, :value=> q.id%>
      </div>

      <div class="actions">
        <%= r.submit class: "btn" %>
      </div>

    <%end%>
  <%end%>
<% if q.question_type_id == 4 %>
  <%= form_for(@response) do |r| %>
    <div class="field">
      <%= q.text %><br/>
      <%= r.label :name, "Yes", :value => "yes"  %>
      <%= r.radio_button :name, "yes" %>
      <%= r.label :name, "No", :value => "no" %>
      <%= r.radio_button :name, "no", :checked => true %>
      <%= r.hidden_field :question_id, :value=> q.id%>
    </div>
    <div class="actions">
      <%= r.submit class: "btn" %>
    </div>
  <%end%>
<%end%>
<% if q.question_type_id == 1 %>
<%= form_for(@response) do |r| %>

  <div class="field">
    <%= r.label :response %>
    <%= r.text_field :name %>
    <%= r.hidden_field :question_id, :value=>  q.id%>
  </div>

  <div class="actions">
    <%= r.submit class: "btn" %>
  </div>

  <%end%>
<%end%>

<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', authors_path %>
