<h2>Survey responses</h2>

<%= @survey.title %>

<%= form_tag submit_responses_survey_path do %>
  <ul>
    <% @survey.questions.each do |q| %>
      <li>
        <p><%= q.text %></p>
          <%= render :partial => 'response_fields', :locals => {:q => q}  %>
      </li>
    <% end %>
  </ul>



<br>
<%= submit_tag "Submit" %>
<% end %>
