<!DOCTYPE html>
<html>
<head>
  <title>SurveyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="page-header">
    <h1 class="page-title">RE<span>SON</span></h1>
    <h2 class="page-subtitle">form builder</h2>
  </header>

  <% if @current_user %>
    <%= link_to 'logout', logout_path %>
    <%= link_to 'Home', authors_path %>
  <% end %>

  <%= yield %>

  <footer class="page-footer">
    <p>&copy; 2015 Thomas, Parker, &amp; Tim</p>
  </footer>
</body>
</html>
